# Byte-compiled / cache
__pycache__/
*.pyc

# Model weights & large checkpoints
*.pth
*.pt

# Datasets & heavy folders
datasets/
ground_truth/
model_comparison_results/
robustness_results/

# Outputs / Heatmaps / Images
**/gradcam_*/
*.png
*.jpg
